header nav > *{
    float: left;
    width: 10%;
    margin: 0 5%;
    list-style: none;
}

header nav  li{
    float: left;
    width: 33%;
    list-style: none;
  }
  li{
    list-style: none;
    float: left;
    width: 33%;
  }
  
  main > section{
    width: 50%;
    float: left;
  }
  img{
    width: 50%;
   
  }
  
  main > section h1, main > section img{
    margin-top: 200px;
  }

  header{
    border-bottom: solid 1px gray;
   
  }
  
  