/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header,
.container1 {
  background-color: rgb(106, 118, 136);
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  font-family: "Roboto Condensed";
}

/* Navigation */
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

ul {
  display: flex;
  gap: 2rem;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-basis: 0%;
  list-style: none;
}

#midle {
  display: flex;
  justify-content: center;
}
#midle {
  display: flex;
  flex-basis: 10%;
  height: 10px;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

header {
  height: 55px;
}

.container1 {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.container1 p {
  width: 80%;
  font-size: 1.5rem;
}

h1,
p,
a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whitetext,
h1 {
  color: white;
  font-size: 4rem;
}

p {
  font-size: medium;
}

.container2 {
  height: 400px;
  background-color: rgb(255, 255, 255);
}

h2,
p {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container3 {
  background-color: rgb(221, 223, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
  text-decoration: rgb(103, 114, 132);
}

img {
  height: 40px;
}

.container4 {
  height: 400px;
  background-color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(25, 31, 41);
  display: flex;
  height: 300px;
}

.topleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bottomleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

/* footer ul{
    flex-direction: row;
    justify-content: flex-start;
}

aside{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 20%;
}

footer p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
